<a href="https://colab.research.google.com/github/max-broekhuis/workshop-consultancy-day/blob/main/code_ec_energy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

# Inladen Data

In [2]:
!curl -L -c cookies.txt 'https://docs.google.com/uc?export=download&id=1mlqgfqfBmp9Att1KHQZADannFgAqt7l6' | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1/p' > confirm.txt
!curl -L -b cookies.txt -o 'EC_Energy_case.xlsx' 'https://docs.google.com/uc?export=download&id=1mlqgfqfBmp9Att1KHQZADannFgAqt7l6&confirm='$(<confirm.txt)
!rm -f confirm.txt cookies.txt

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   388    0   388    0     0    285      0 --:--:--  0:00:01 --:--:--   284
100 5257k    0 5257k    0     0  2598k      0 --:--:--  0:00:02 --:--:-- 2598k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   408    0   408    0     0    323      0 --:--:--  0:00:01 --:--:--   323
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
  0     0    0     0    0     0      0      0 --:--:--  0:00:01 --:--:--     0
100 5257k    0 5257k    0     0  3486k      0 --:--:--  0:00:01 --:--:-- 3486k

In [3]:
data = pd.read_excel("EC_Energy_case.xlsx")
data = data.assign(totaal_zonnepanelen = lambda x: x.aantal_installaties_bij_woningen*x.aantal_zonnepanelen_per_installatie)

# Analyse data

In [4]:
data.head()

      X1 gemeentenaam  ... inwoners_vanaf_de_aow_leeftijd  totaal_zonnepanelen
0   9503   LoonopZand  ...                            200                260.0
1   4063    Dordrecht  ...                            440                  NaN
2   2473     hetBildt  ...                           1000               1260.0
3  11554    Oudewater  ...                             40                 66.0
4   6943      Heerlen  ...                            540                  NaN

[5 rows x 80 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16666 entries, 0 to 16665
Data columns (total 80 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   X1                                          16666 non-null  int64
 1   gemeentenaam                                16666 non-null  object
 2   soort_regio                                 16666 non-null  object
 3   id                                          16666 non-null  int64
 4   codering                                    16666 non-null  object
 5   aantal_inwoners                             16666 non-null  int64
 6   woningkenmerken                             16666 non-null  object
 7   stadsverwarming                             16666 non-null  int64
 8   mannen                                      16666 non-null  int64
 9   vrouwen                                     16666 non-null  int64
 10  k_0_tot_15_jaar                             16666 non-null  int64
 11  k_15_tot_25_jaar                            16666 non-null  int64
 12  k_25_tot_45_jaar                            16666 non-null  int64
 13  k_45_tot_65_jaar                            16666 non-null  int64
 14  k_65_jaar_of_ouder                          16666 non-null  int64
 15  huishoudens_totaal                          16666 non-null  int64
 16  eenpersoonshuishoudens                      16666 non-null  int64
 17  huishoudens_zonder_kinderen                 16666 non-null  int64
 18  huishoudens_met_kinderen                    16666 non-null  int64
 19  gemiddelde_huishoudensgrootte               16334 non-null  float64
 20  bevolkingsdichtheid                         16038 non-null  float64
 21  woningvoorraad                              16666 non-null  int64
 22  gemiddelde_woningwaarde                     13051 non-null  float64
 23  koopwoningen                                15123 non-null  float64
 24  huurwoningen_totaal                         15123 non-null  float64
 25  in_bezit_woningcorporatie                   15123 non-null  float64
 26  in_bezit_overige_verhuurders                15123 non-null  float64
 27  eigendom_onbekend                           15123 non-null  float64
 28  bouwjaar_voor_2000                          15145 non-null  float64
 29  bouwjaar_vanaf_2000                         15145 non-null  float64
 30  gemiddeld_elektriciteitsverbruik_totaal     15434 non-null  float64
 31  elect_appartement                           9428 non-null   float64
 32  elect_tussenwoning                          10867 non-null  float64
 33  elect_hoekwoning                            10601 non-null  float64
 34  elect_twee_onder_een_kap_woning             11423 non-null  float64
 35  elect_vrijstaande_woning                    12954 non-null  float64
 36  elect_huurwoning                            12788 non-null  float64
 37  elect_eigen_woning                          15209 non-null  float64
 38  gemiddeld_aardgasverbruik_totaal            15195 non-null  float64
 39  aard_appartement                            9199 non-null   float64
 40  aard_tussenwoning                           10637 non-null  float64
 41  aard_hoekwoning                             10395 non-null  float64
 42  aard_twee_onder_een_kap_woning              11265 non-null  float64
 43  aard_vrijstaande_woning                     12826 non-null  float64
 44  aard_huurwoning                             12561 non-null  float64
 45  aard_eigen_woning                           14965 non-null  float64
 46  percentage_woningen_met_stadsverwarming     937 non-null    float64
 47  aantal_inkomensontvangers                   16666 non-null  int64
 48  gemiddeld_inkomen_per_inkomensontvanger     3362 non-null   float64
 49  gemiddeld_inkomen_per_inwoner               4071 non-null   float64
 50  k_40_huishoudens_met_laagste_inkomen        12285 non-null  float64
 51  k_20_huishoudens_met_hoogste_inkomen        12285 non-null  float64
 52  personen_per_soort_uitkering_bijstand       15201 non-null  float64
 53  personenautos_brandstof_benzine             16666 non-null  int64
 54  personenautos_overige_brandstof             16666 non-null  int64
 55  oppervlakte_land                            16666 non-null  int64
 56  mate_van_stedelijkheid                      16605 non-null  float64
 57  omgevingsadressendichtheid                  16605 non-null  float64
 58  bedrijfsvestigingen_totaal                  16458 non-null  float64
 59  type_a_landbouw_bosbouw_visserij            14321 non-null  float64
 60  type_bf_nijverheid_energie                  14321 non-null  float64
 61  type_gi_handel_horeca                       14321 non-null  float64
 62  type_hj_vervoer_informatie_communicatie     14321 non-null  float64
 63  type_kl_financiele_diensten_onroerendgoed   14321 non-null  float64
 64  type_mn_zakelijke_dienstverlening           14321 non-null  float64
 65  type_ru_cultuur_recreatie_overige_diensten  14321 non-null  float64
 66  id_old                                      16666 non-null  int64
 67  indelingswijziging_wijken_en_buurten        16278 non-null  float64
 68  aantal_installaties_bij_woningen            13323 non-null  float64
 69  aantal_zonnepanelen_per_installatie         10669 non-null  float64
 70  opgesteld_vermogen_van_zonnepanelen         10669 non-null  float64
 71  totaal_aantal_laadpalen                     14622 non-null  float64
 72  werkloosheidsuitkering_relatief             16666 non-null  int64
 73  bijstandsuitkering_relatief                 16666 non-null  int64
 74  arbeidsongeschiktheidsuitkering_relatief    16666 non-null  int64
 75  aow_uitkering_relatief                      16666 non-null  int64
 76  inwoners_vanaf_15_jaar                      16666 non-null  int64
 77  inwoners_vanaf_15_jr_tot_aow_leeftijd       16666 non-null  int64
 78  inwoners_vanaf_de_aow_leeftijd              16666 non-null  int64
 79  totaal_zonnepanelen                         10669 non-null  float64
dtypes: float64(48), int64(28), object(4)
memory usage: 10.2+ MB

In [6]:
data["gemeentenaam"].nunique()

388

In [7]:
data["soort_regio"].value_counts()

Buurt       13208
Wijk         3070
Gemeente      388
Name: soort_regio, dtype: int64

In [8]:
 (
    data
    .groupby(["gemeentenaam"])
    ["totaal_aantal_laadpalen"]
    .mean()
    .sort_values(ascending = False)
    .head(500)
)

gemeentenaam
Langedijk          17.250000
Zeewolde           12.538462
Culemborg          12.100000
Oldenzaal          10.038462
StedeBroec          9.250000
                     ...
Zwijndrecht         0.217391
Zandvoort           0.176471
Terschelling        0.150000
Wassenaar           0.136364
Schiermonnikoog     0.000000
Name: totaal_aantal_laadpalen, Length: 388, dtype: float64

In [9]:
(
    data
    .groupby(["gemeentenaam"])
    ["totaal_zonnepanelen"]
    .mean()
    .sort_values(ascending = False)
    .head(500)
)

gemeentenaam
Langedijk              7193.428571
Zeewolde               5560.000000
Appingedam             5319.250000
GilzeenRijen           4757.000000
Beek                   4677.571429
                          ...
Maassluis               468.166667
Vlieland                444.000000
Schiermonnikoog         418.000000
CapelleaandenIJssel     354.076923
Schiedam                329.939394
Name: totaal_zonnepanelen, Length: 388, dtype: float64

# Regressie

Omdat EC Energy intern niet veel werknemers heeft met verstand van Data Science is er een stagiaire gevraagd om een opzet te maken van een model.

Deze stagiaire heeft de data gefiltered op een aantal interessante variabelen. Daarna zijn deze variabelen door een lineaire regressie gehaald. Op basis van de resultaten is EC Energy enthousiast, maar geeft de stagiaire aan dat er problemen zijn met deze analyse en een verdieping noodzakelijk is. Daarom heeft EC Energy meerdere consultancy partijen gevraag een business case op te stellen.

In [14]:
data['EV_totaal'] = data['personenautos_overige_brandstof'] * 0.2333
X = (data[
          [
           "EV_totaal",
           "huishoudens_totaal",
           "totaal_aantal_laadpalen"
           ]
          ])
X.dropna(inplace =True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [15]:
x = X.drop("totaal_aantal_laadpalen", axis=1)
y = X["totaal_aantal_laadpalen"]
x = sm.add_constant(x)
model = sm.OLS(y, x)
results = model.fit()
print(results.summary())

                               OLS Regression Results
===================================================================================
Dep. Variable:     totaal_aantal_laadpalen   R-squared:                       0.461
Model:                                 OLS   Adj. R-squared:                  0.461
Method:                      Least Squares   F-statistic:                     6260.
Date:                     Tue, 15 Jun 2021   Prob (F-statistic):               0.00
Time:                             09:28:45   Log-Likelihood:                -49426.
No. Observations:                    14622   AIC:                         9.886e+04
Df Residuals:                        14619   BIC:                         9.888e+04
Df Model:                                2
Covariance Type:                 nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                  0.8953      0.060     14.887      0.000       0.777       1.013
EV_totaal              0.0125      0.000     58.220      0.000       0.012       0.013
huishoudens_totaal     0.0004   1.22e-05     29.724      0.000       0.000       0.000
==============================================================================
Omnibus:                    34735.061   Durbin-Watson:                   2.021
Prob(Omnibus):                  0.000   Jarque-Bera (JB):       1034255244.201
Skew:                          23.609   Prob(JB):                         0.00
Kurtosis:                    1305.059   Cond. No.                     6.95e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.95e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

# Vraagstelling

Na het zien van deze regressie is EC Energy benieuwd wat er nog meer mogelijk is met deze data. Daarom hebben ze jou gevraagd om een business case op te zetten. Hierin wilt EC Energy een duidelijk advies waar ze hun salesstrategie op moeten toespitsen. Ze laten jou vrij om iedere techniek te gebruiken waarvan jij denkt dat het het meeste resultaat gaat opleveren.

EC Energy gaat jou beoordelen op hoe begrijpbaar jouw salesstrategie is (50%), hoe goed je model/tool werkt (20%) en hoe dit zich verhoudt tot je concurrenten (30%).